@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Raleway:wght@300&family=Roboto+Slab:wght@500&family=Ubuntu&display=swap');
@media (min-width:230px) {
    *{
        font-family: 'Ubuntu', sans-serif;
    }
    body{
        margin: 0;
        background-color:hsl(215, 51%, 70%) ;
        color:hsl(0, 0%, 100%);
    }
    .container{
        width:80%;
        background-color: hsl(217, 54%, 28%);
        margin: 20% 10%;
        border-radius: 10px;
    }
    header img{
        width:50%;
        border-radius: 50%;
        margin: 30% 25% 0 25%;
    }
    header h2{
        text-decoration: underline;
        text-align: center;
    }
    main h3{
        text-align: center;
    }
    main p{
        margin-left: 5%;
    }
    footer h3{
        text-align: center;
    }
    footer a{
        display: inline-block;
        width: 80%;
        margin: 2% 5%;
        padding: 5%;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        border:3px solid  hsl(215, 51%, 70%);
        border-radius: 7px 0 7px 0;
    }
   
}

@media (min-width:1000px) {
    *{
        font-family: 'Ubuntu', sans-serif;
    }
    body{
        margin: 0;
        background-color:hsl(215, 51%, 70%) ;
        color:hsl(0, 0%, 100%);
       
    }
    .container{
        width:40%;
        background-color: hsl(217, 54%, 28%);
        margin: 10% 30%;
        border-radius: 10px;
    }
    header img{
        width:50%;
        border-radius: 50%;
        margin: 20% 25% 0 25%;
    }
    header h2{
        text-decoration: underline;
        text-align: center;
    }
    main h3{
        text-align: center;
    }
    main p{
        margin-left: 5%;
    }
    footer h3{
        text-align: center;
    }
    footer a{
        display: inline-block;
        width: 80%;
        margin: 2% 5%;
        padding: 5%;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        border:3px solid  hsl(215, 51%, 70%);
        border-radius: 7px 0 7px 0;
    } 
}